#  Imoprt important modules and libraires

In [4]:
import time
import pandas as pd
import numpy as np
import calendar

# Loading Datasets :

In [5]:
chicago=pd.read_csv("E:\\data analysis\\professtional\\chicago.csv")
new_york=pd.read_csv("E:\\data analysis\\professtional\\new_york_city.csv")
washington=pd.read_csv("E:\\data analysis\\professtional\\washington.csv")

In [6]:
def display_individual_data(city):

    if (city=='c') :
        print(chicago.head(2))
    elif (city=='n') :
        print(new_york.head(2))
    elif (city=='w') :
        print(washington.head(2))

# Display Datasets :

In [7]:
chicago.head(10) #show data( rows records - Attributes ) for chicago
#here we display first 10 Rows only

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
5,1473887,2017-06-26 09:01:20,2017-06-26 09:11:06,586,Clinton St & Washington Blvd,Canal St & Taylor St,Subscriber,Male,1990.0
6,961916,2017-05-26 09:41:44,2017-05-26 09:46:25,281,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983.0
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN
8,606841,2017-04-20 16:08:51,2017-04-20 16:20:20,689,Sedgwick St & Huron St,Halsted St & Blackhawk St (*),Subscriber,Male,1984.0
9,135470,2017-02-06 18:00:47,2017-02-06 18:09:00,493,Stetson Ave & South Water St,Clinton St & Washington Blvd,Subscriber,Male,1979.0

In [8]:
new_york.head(10) #show data( rows records - Attributes ) for new york city

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0
5,1285652,2017-02-22 18:55:24,2017-02-22 19:12:03,998,State St & Smith St,Bond St & Fulton St,Subscriber,Male,1986.0
6,1675753,2017-03-06 16:22:53,2017-03-06 16:30:51,478,Front St & Gold St,Lafayette Ave & Fort Greene Pl,Subscriber,Male,1982.0
7,1692245,2017-03-07 07:42:24,2017-03-07 08:49:42,4038,E 89 St & York Ave,Broadway & Battery Pl,Subscriber,Male,1984.0
8,2271331,2017-04-02 08:02:36,2017-04-02 09:28:08,5132,Central Park S & 6 Ave,Central Park S & 6 Ave,Customer,NaN,NaN
9,1558339,2017-03-01 23:01:31,2017-03-01 23:06:41,309,E 3 St & 1 Ave,E 25 St & 2 Ave,Subscriber,Male,1992.0

In [9]:
washington.head(10)#show data( rows records - Attributes ) for washington

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber
5,1148202,2017-05-14 07:18:18,2017-05-14 07:24:56,398.000,1st & K St SE,Eastern Market Metro / Pennsylvania Ave & 7th ...,Subscriber
6,1594275,2017-06-19 08:41:43,2017-06-19 09:00:08,1105.429,Park Rd & Holmead Pl NW,8th & H St NW,Subscriber
7,1601832,2017-06-20 05:54:42,2017-06-20 06:05:18,636.218,1st & D St SE,Potomac & Pennsylvania Ave SE,Subscriber
8,574182,2017-03-24 20:37:00,2017-03-24 20:42:00,328.530,18th & R St NW,15th & P St NW,Subscriber
9,327058,2017-02-20 21:12:00,2017-02-20 21:31:00,1188.090,17th & Corcoran St NW,Lynn & 19th St North,Subscriber

# Important messages we will use them repeately to talk with user :

In [10]:
correct_choose_msg='Invalid ,Please enter the correct choose from : \n '
mesg_city="Which City you want to Explore :\n1-Enter (c) for chicago.\n2-Enter (n) for new york cit. \n3-Enter (w) for washington."
mesg_month="Which Month you want to filter on it :\n 1-Enter (1) for January\n 2-Enter (2) for February\n 3-Enter (3) for March\n 4-Enter (4) for April\n 5-Enter (5) for  May\n 6-Enter (6) for June\n 7-Enter (7) for July\n 8-Enter (8) for August\n 9-Enter (9) for September\n10-Enter (10) for October\n11-Enter (11) for November\n12-Enter (12) for December\n13-Enter (0) for all" 
mesg_day="which Day you want to filter on it :\n1-Enter (st) for Saturday\n2-Enter (sn) for Sunday \n3-Enter (mn) for Monday\n4-Enter (tu) for Tuesday\n5-Enter (Wn) for  Wensday\n6-Enter (th) for Thursday\n7-Enter (fr) for Friday\n8-Enter (0) for all "
welcome_msg="-Enter (1) to Display prefered time , you will get infromation about most common month , day , start hour  \n-Enter (2) to Display stations infromation you will know about most commonly used start station , End Station and Most common Trips  \n-Enter (3) to Display trip_duration information you will know total travel time , mean travel time \n-Enter (4) for users infromation you will know  counts of user types and gender , most common year , recent and earliest year \n-Enter (5) to Display a sample Individual  Data "

# Basic Dictionaries we will use  :

In [11]:
days   = {'st':'Saturday','sn':'Sunday','mn':'Monday','tu':'Tuesday','wn':'Wensday','th':'Thursday','fr':'Friday','0':'all'}
cities = { 'c': 'chicago','n': 'new_york_city','w': 'washington' }
months = {'1':'january', '2':'february', '3':'march', '4':'april', '5':'may', '6':'june','7':'july','8':'august','9':'september','10':'october','11':'november','12':'december','0':'all'}
filtr  = {'1':'By Month','2':'By Day','3':'Both','0':'not at all'}

# get_filters() : method  which aim to Ask user to specify a city, month, and day to analyze and display certain data depending on his choice

In [12]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
        (str) fltr - which display user filtration choice

    """
    print('Hello! Let\'s explore some US bikeshare data!') 
    fltr,month,day='','',''
    while True :
        fltr =input ('do you want to filter data by : \n Enter (1) for by month \n Enter (2) for by day , \n Enter (3) for by both day and month  or\n Enter (0) for  not at all ').lower()
        if fltr not in filtr.keys():
            print("\n"+correct_choose_msg)
        else :
            break 
            

    # TO DO: get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    while True :
        city =input (mesg_city).lower()
        if city not in cities.keys():
            print("\n"+correct_choose_msg)
        else :
            break 
    # TO DO: get user input for month (all, january, february, ... , june)
    if fltr =='1':
        day='none'
    elif fltr =='2' :
        month='none'
    elif fltr =='0':
        month='none'
        day='none'

    if month!='none':
        while True :
                    month = input (mesg_month).lower()
                    if month in months.keys() :
                        break 
                    else :
                        print("\n"+correct_choose_msg)

    # TO DO: get user input for day of week (all, monday, tuesday, ... sunday)
    if day!='none' :
        while True :
            day = input (mesg_day).lower()
            if day in days.keys() :
                break 
            else :
                print("\n"+correct_choose_msg)
                
    print('-'*40)
    return city, month, day, fltr
#will  be a tuple of each filter user choose of city , month , day respectively 
#city may be (c,n,w)
#month may be (0-12),0 refer to all 
#day may be (0-(st,sn,mn,tu,wn,th,fr)),0 refer to all

# Load_data () : method aim to load subset of relevant data from original dataset to display it for the user after taking  his filtration for (city, month, day) which we ask him before, method take them as an argumens

In [13]:
def load_data(city, month, day , fltr):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

    # load data file into a dataframe
    if (city=='c'):
        df=chicago 
    elif (city=='n'):
        df=new_york
    elif (city=='w'):
        df=washington

    # convert the Start Time column to datetime 
    df['Start Time'] = pd.to_datetime(df['Start Time']) #inplace conversion from string to datetime  
    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day_name()
    df['start_hour']=df['Start Time'].dt.hour
    # filter by month if applicable
    
    if fltr =='1'or fltr=='3':
        if month != '0'and month != 'none' :
        # use the index of the months list to get the corresponding int
        ##monthsss = ['january', 'february', 'march', 'april', 'may', 'june']
        #m = monthsss.index(month) + 1
        # filter by month to create the new dataframe
            df = df[df['month'] == int(month)]
    # filter by day of week if applicable
    if fltr =='2'or fltr=='3':
        if day != '0' and day!='none':  #day may be (st,sn,mn,tu,wn,th,fr) as      
        # filter by day of week to create the new dataframe
            d  = days[day] # get croessponding day name from dictionary days as day is the key 
            df = df[df['day_of_week'] == d]

    return df

# time_stats() : method which Displays statistics on the most frequent times of travel

In [14]:
def time_stats(df,flt):

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()
    
    # TO DO: display the most common month
    M=df['month'].mode()[0]
    conv=calendar.month_name[M]
    print('most common month :', conv )
    print('count :', df['month'].value_counts()[M])
    print('filter :' ,filtr[flt])  

    # TO DO: display the most common day of week
    D=df['day_of_week'].mode()[0]
    print('most common day :', D )
    print('count :',df['day_of_week'].value_counts()[ D ])
    print('filter :' ,filtr[flt])  

    # TO DO: display the most common start hour
    hr=df['start_hour'].mode()[0]
    print('most common start hour : ',hr)
    print('count :' , df['start_hour'].value_counts()[ hr ])
    print('filter :' ,filtr[flt])  

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

# station_stats() methods which Displays statistics on the most popular stations and trip.

In [15]:
def station_stats(df,flt):

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # TO DO: display most commonly used start station
    st=df['Start Station'].mode()[0]
    print(' most commonly used start station is {} '.format(st))
    print('count :', df['Start Station'].value_counts()[st])
    print('filter :', filtr[flt])

    # TO DO: display most commonly used end station
    end=df['End Station'].mode()[0]
    print('most commonly used end station is {}'.format(end))
    print('count :' , df['End Station'].value_counts()[ end ])
    print('filter :' , filtr[flt])    

    # TO DO: display most frequent combination of start station and end station trip
    df['trip']= df['Start Station']+","+df['End Station']  
    most_frequent_trip =df['trip'].mode()[0]
    print('most frequent trip  {} '.format(most_frequent_trip))
    print('count :', df['trip'].value_counts()[most_frequent_trip])
    print('filter :' ,filtr[flt])  

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

# trip_duration_stats() method which Displays statistics on the total and average trip duration.

In [16]:
def trip_duration_stats(df,flt):

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # TO DO: display total travel time
    print('total travel time is {}'.format( df['Trip Duration'].sum()))

    # TO DO: display mean travel time
    print('mean travel time is {}'.format( df['Trip Duration'].mean()))


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

# user_stats( ): method which Displays statistics on bikeshare users

In [17]:
def user_stats(df,city,flt):

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # TO DO: Display counts of user types
    print('counts of user types is {}'.format(df['User Type'].value_counts().to_frame()))
    # TO DO: Display counts of gender
    if city != 'w': 
        print('counts of gender is {}'.format(df['Gender'].value_counts().to_frame()))
    # TO DO: Display earliest , most recent, and most common year of birth
        print('most common year is: {}'.format(int(df['Birth Year'].mode()[0])))
        print('most recent year is: {}'.format(int(df['Birth Year'].max())))
        print('earliest year is : {}'.format(int(df['Birth Year'].min())))

    else :
        print('No data for washington city ')

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [18]:
def display_individual_data(city):
    if (city=='c') :
        chicago.head(2)
    elif (city=='n') :
        new_york.head(2)
    elif (city=='w') :
        washington.head(2)

# main() : is the method which will utilize the output of the previous function throught it and deal with user too

In [19]:
def main():
    while True:
        
        city, month , day ,fltr = get_filters()
        df = load_data(city, month, day,fltr)
        x=input(welcome_msg).split(sep=',')
        
        if ('1' in x):
            time_stats(df,fltr)
        if('2'in x):
            station_stats(df,fltr)
        if('3' in x):
            trip_duration_stats(df,fltr)
        if('4' in x):
            user_stats(df,city,fltr)
        if('5' in x ):
            display_individual_data(city)
        
        restart = input('\nWould you like to restart or know another information ? Enter yes or no.\n')
       
        if restart.lower() != 'yes':
                break


if __name__ == "__main__":
    main()

Hello! Let's explore some US bikeshare data!
do you want to filter data by :
 Enter (1) for by month
 Enter (2) for by day ,
 Enter (3) for by both day and month  or
 Enter (0) for  not at all 1
Which City you want to Explore :
1-Enter (c) for chicago.
2-Enter (n) for new york cit.
3-Enter (w) for washington.c
Which Month you want to filter on it :
 1-Enter (1) for January
 2-Enter (2) for February
 3-Enter (3) for March
 4-Enter (4) for April
 5-Enter (5) for  May
 6-Enter (6) for June
 7-Enter (7) for July
 8-Enter (8) for August
 9-Enter (9) for September
10-Enter (10) for October
11-Enter (11) for November
12-Enter (12) for December
13-Enter (0) for all12
----------------------------------------
-Enter (1) to Display prefered time , you will get infromation about most common month , day , start hour
-Enter (2) to Display stations infromation you will know about most commonly used start station , End Station and Most common Trips
-Enter (3) to Display trip_duration information you will know total travel time , mean travel time
-Enter (4) for users infromation you will know  counts of user types and gender , most common year , recent and earliest year
-Enter (5) to Display a sample Individual  Data 3

Calculating Trip Duration...

total travel time is 0
mean travel time is nan

This took 0.0009667873382568359 seconds.
----------------------------------------

Would you like to restart or know another information ? Enter yes or no.
yes
Hello! Let's explore some US bikeshare data!
do you want to filter data by :
 Enter (1) for by month
 Enter (2) for by day ,
 Enter (3) for by both day and month  or
 Enter (0) for  not at all 3
Which City you want to Explore :
1-Enter (c) for chicago.
2-Enter (n) for new york cit.
3-Enter (w) for washington.w
Which Month you want to filter on it :
 1-Enter (1) for January
 2-Enter (2) for February
 3-Enter (3) for March
 4-Enter (4) for April
 5-Enter (5) for  May
 6-Enter (6) for June
 7-Enter (7) for July
 8-Enter (8) for August
 9-Enter (9) for September
10-Enter (10) for October
11-Enter (11) for November
12-Enter (12) for December
13-Enter (0) for all2
which Day you want to filter on it :
1-Enter (st) for Saturday
2-Enter (sn) for Sunday
3-Enter (mn) for Monday
4-Enter (tu) for Tuesday
5-Enter (Wn) for  Wensday
6-Enter (th) for Thursday
7-Enter (fr) for Friday
8-Enter (0) for all st
----------------------------------------
-Enter (1) to Display prefered time , you will get infromation about most common month , day , start hour
-Enter (2) to Display stations infromation you will know about most commonly used start station , End Station and Most common Trips
-Enter (3) to Display trip_duration information you will know total travel time , mean travel time
-Enter (4) for users infromation you will know  counts of user types and gender , most common year , recent and earliest year
-Enter (5) to Display a sample Individual  Data 2

Calculating The Most Popular Stations and Trip...

 most commonly used start station is Lincoln Memorial
count : 125
filter : Both
most commonly used end station is Jefferson Dr & 14th St SW
count : 134
filter : Both
most frequent trip  Smithsonian-National Mall / Jefferson Dr & 12th St SW,Smithsonian-National Mall / Jefferson Dr & 12th St SW
count : 22
filter : Both

This took 0.011948823928833008 seconds.
----------------------------------------

Would you like to restart or know another information ? Enter yes or no.
no